:root {
  --color-text: #000;
  --color-bg: #fff;
  --color-accent: #ffbb2d;
  --color-primary: #ff002d;
}

html {
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 1.3rem;
}

.bg-text {
  color: var(--color-bg);
  background-color: var(--color-text);
}

.bg-primary {
  color: var(--color-bg);
  background-color: var(--color-primary);
}

.container {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 150px;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

header > img {
  position: absolute;
  width: 100%;
}

a {
  text-decoration: none;
}

.link {
  padding: 0.2rem 0.8rem;
  transition: all 0.2s 0s ease;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.link:hover {
  opacity: 0.8;
  margin-right: 0;
}

.link:focus {
  transition: 0s;
  background-color: var(--color-primary);
}

nav {
  position: sticky;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.2rem;
}

.nav-link {
  padding: 0.8rem 0.2rem;
  writing-mode: vertical-rl;
  margin-right: 0.4rem;
  position: relative;
}

.nav-link:hover {
  padding-left: 0.4rem;
}

.heading {
  min-height: 3.5rem;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  padding-left: 1rem;
  z-index: 1;
}

.emoji {
  padding-right: 0.4rem;
}

.fill {
  text-shadow: -1px -1px 0px var(--color-text), 0px -1px 0px var(--color-text),
    1px -1px 0px var(--color-text), -1px 0px 0px var(--color-text),
    0px 0px 0px var(--color-text), 1px 0px 0px var(--color-text),
    -1px 1px 0px var(--color-text), 0px 1px 0px var(--color-text),
    1px 1px 0px var(--color-text);
}

section {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

article {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 1rem;
}

p {
  text-indent: 1rem;
  margin: 0;
}

pre {
  padding: 1rem;
  margin: 0;
  width: 100%;
  margin-bottom: 1.2rem;
  word-break: break-all;
  white-space: pre-line;
  box-sizing: border-box;
  position: relative;
}

.pre-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 1rem;
  border-radius: 0 1rem 1rem 0;
  color: var(--color-bg);
  background-color: var(--color-primary);
  font-weight: bold;
}

.link-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

/* ハンバーガーメニュー */
.menu-btn {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: var(--color-text);
  cursor: pointer;
  top: 0.5rem;
  right: 0.5rem;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 2px;
  width: 18px;
  background-color: var(--color-bg);
  position: absolute;
}
.menu-btn span:before {
  bottom: 6px;
}
.menu-btn span:after {
  top: 6px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 90;
  background-color: var(--color-text);
  transition: all 0.2s ease;
  padding-top: 4rem;
}
#menu-btn-check:checked ~ .menu-content {
  left: 0;
}
.menu-content label {
  cursor: pointer;
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-bg);
  text-decoration: none;
  position: relative;
  padding: 1rem;
}
.menu-content label:not(:first-of-type) {
  border-top: 1px solid var(--color-bg);
}
.menu-content label:hover {
  color: var(--color-text);
  background-color: var(--color-bg);
}
.menu-content label::before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-top: solid 2px var(--color-bg);
  border-right: solid 2px var(--color-bg);
  transform: rotate(45deg);
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
.menu-content label:hover::before {
  border-top: solid 2px var(--color-text);
  border-right: solid 2px var(--color-text);
}

@media screen and (min-width: 480px) {
  /* スマホ用レスポンシブ切り替え */
  .container {
    width: 80%;
    max-width: 1024px;
  }
  /* メニュー表示切り替え */
  #menu-wrapper {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  /* スマホ用レスポンシブ切り替え */
  .container {
    width: 100%;
  }
  /* メニュー表示切り替え */
  #menu-wrapper {
    display: initial;
  }
  nav {
    display: none;
  }
}
